<header class="header">
  <button class="header-btn-with-image">
    <img class="width-and-height-100" src="../assets/img/icons/icon-left-arrow.svg" />
  </button>

  <a class="room-icon-name-container" href="/">
    <img class="icon-circle" src="../assets/img/icons/icon-profile-default-picture.svg" />
    <p>Stepan Nikoghosyan</p>
  </a>

  <div class="room-call-icons-container">
    <button class="header-btn-with-image">
      <img class="width-and-height-100" src="../assets/img/icons/icon-audio-call.svg" />
    </button>
    <button class="header-btn-with-image">
      <img class="width-and-height-100" src="../assets/img/icons/icon-video-call.svg" />
    </button>
  </div>
</header>

<div class="content room-content">

  <section class="messages-content">
    <article class="message-group">
      <img class="message-sender-icon" src="../assets/img/icons/icon-profile-default-picture.svg" />

      <ul class="messages-list">
        <li class="message-list-item">
          <span class="message-date">01 Sep 2019</span>
          <p class="message-bubble">Hello world sdhg kjsh alkjshfashf ajkshf kajsfh kajshf kjaf
            asd
          </p>
        </li>
      </ul>
    </article>

    <article class="message-group my-message">
      <img class="message-sender-icon" src="../assets/img/icons/icon-profile-default-picture.svg" />

      <ul class="messages-list">
        <li class="message-list-item">
          <span class="message-date">01 Sep 2019</span>
          <p class="message-bubble">Hello world sdhg kjsh alkjshfashf ajkshf kajsfh kajshf kjaf
            asd
          </p>
        </li>
        <div class="message-seen-by-container">
          <img class="message-seen-by-icon" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <img class="message-seen-by-icon" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <img class="message-seen-by-icon" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <img class="message-seen-by-icon" src="../assets/img/icons/icon-profile-default-picture.svg" />
        </div>
        <li class="message-list-item">
          <span class="message-date">01 Sep 2019</span>
          <p class="message-bubble">Hello world sdhg kjsh alkjshfashf ajkshf kajsfh kajshf kjaf
            asd
          </p>
        </li>
      </ul>
    </article>

  </section>

  <section class="message-input-container">
    <textarea class="message-input" cols="10" rows="2" placeholder="Type here..."></textarea>

    <button class="send-message-btn">
      <img class="send-message-icon" src="../assets/img/icons/icon-send-message-btn.svg" />
    </button>
  </section>

</div>
