<header class="header">
  <ng-container *ngIf="mode === PAGE_MODES.requests">
    <h1 class="header-title">Hopar</h1>

    <button (click)="setMode = PAGE_MODES.search" class="header-btn-with-image">
      <img src="../assets/img/icons/icon-search.svg"/>
    </button>
  </ng-container>

  <ng-container *ngIf="mode === PAGE_MODES.search">
    <input (keyup)="getData($event.target.value)" class="header-search-input" type="text" placeholder="Name"/>
    <button (click)="setMode = PAGE_MODES.requests" class="header-btn-with-text">Cancel</button>
  </ng-container>
</header>

<section class="friends-content vertically-scrollable">
  <!-- Friend request example -->
  <ng-container *ngIf="mode === PAGE_MODES.requests">
    <article class="friend-request-row">
      <img class="icon-circle icon-width-30" src="../assets/img/icons/icon-profile-default-picture.svg">

      <p class="friend-request-profile-name">Stepan Nikoghosyan</p>

      <div class="friend-request-buttons-container">
        <button class="friend-request-btn">
          <img src="../assets/img/icons/icon-x.svg"/>
        </button>
        <button class="friend-request-btn">
          <img src="../assets/img/icons/icon-tick.svg"/>
        </button>
      </div>
    </article>
  </ng-container>

  <!-- Search result example -->
  <ng-container *ngIf="mode === PAGE_MODES.search">
    <article *ngFor="let item of searchResult" class="friend-request-row">
      <img class="icon-circle icon-width-30" [src]="item.profilePicture || '../assets/img/icons/icon-profile-default-picture.svg'">

      <p class="friend-request-profile-name">{{item.firstName}} {{item.lastName}}</p>

      <button class="header-btn-with-text send-requst-btn">Send request</button>
    </article>
  </ng-container>
</section>
