<header class="messanger-header">
  <section class="messanger-header-title">
    <h1>Chats</h1>
  </section>

  <div class="horizontalLine"></div>

  <section class="header">
    <input class="header-search-input" type="text" placeholder="Search" />

    <button class="header-btn-with-image">
      <img src="../assets/img/icons/icon-search.svg" alt="Home" />
    </button>
  </section>
</header>

<section class="content vertically-scrollable">
  <ul class="rooms-list-ul">
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>

    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle offline"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <img src="../assets/img/icons/icon-message-seen.svg" />
        </div>
      </a>
    </li>
    <li class="room-item">
      <a>
        <div class="room-image-container">
          <img class="room-image" src="../assets/img/icons/icon-profile-default-picture.svg" />
          <span class="user-status-indicator-circle online"></span>
        </div>

        <div class="room-info-container">
          <p class="room-name">Firstname Lastname </p>
          <div class="room-last-message-container">
            <span class="room-last-message">Barev axpers, vonces...</span>
            <span class="last-message-date">20-05-2018</span>
          </div>
        </div>

        <div class="room-message-status-container">
          <span>Sent</span>
          <!-- <img src="assets/img/icons/icon-message-seen.svg"/> -->
        </div>
      </a>
    </li>
  </ul>
</section>
